<!-- wp:template-part {"slug":"header-left","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"animewp-main","className":"animewp-main","layout":{"type":"constrained"}} -->
<main id="animewp-main" class="wp-block-group animewp-main"><!-- wp:group {"layout":{"type":"constrained"},"className":"animewp-entry-heading"} -->
<div class="wp-block-group animewp-entry-heading">
<!-- wp:post-title {"level":1} /-->
</div>
<!-- /wp:group -->
<!-- wp:post-featured-image {"align":"wide"} /-->
<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
<!-- wp:template-part {"slug":"comments","tagName":"div"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
