<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","anchor":"animewp-main","className":"animewp-main","layout":{"type":"constrained"}} -->
<main id="animewp-main" class="wp-block-group animewp-main"><!-- wp:query-title {"type":"search","showPrefix":false} /-->
<!-- wp:search {"label":"検索","showLabel":false,"placeholder":"キーワードを入力","buttonText":"検索"} /-->
<!-- wp:pattern {"slug":"animewp/news-index"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
